<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
     Código QR
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

  <ion-content padding>
    <div class="center">
      <ion-img src="assets/images/maywhite.png"></ion-img>
      </div>   
      <h2>Andrés Mallea</h2>
      <h5>153391653</h5> 
</ion-content>

