<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/personal/questions"></ion-back-button>
    </ion-buttons>
    <ion-title>
      4 de 4
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickCLose()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        ¿Que vacuna?
      </ion-card-title>

      <ion-card-subtitle>
        Selecciona cual vacuna te han suministrado.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-radio-group [(ngModel)]="participant.participantData.questions[3]">

        <ion-item>
          <ion-label>Pfizer</ion-label>
          <ion-radio slot="start" value="Pfizer"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Sinovac</ion-label>
          <ion-radio slot="start" value="Sinovac"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Cansino</ion-label>
          <ion-radio slot="start" value="Cansino"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Astrazeneca</ion-label>
          <ion-radio slot="start" value="Astrazeneca"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No la recuerdo</ion-label>
          <ion-radio slot="start" value="No la recuerdo"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Otra</ion-label>
          <ion-radio slot="start" value="Otra"></ion-radio>
        </ion-item>


      </ion-radio-group>
    </ion-list>
    



  </ion-card>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickCLose()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
