<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/personal/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      5 de 8
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickCLose()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        Teléfono Celular
      </ion-card-title>

      <ion-card-subtitle>
        Asegúrate de escribir un número de celular correcto, usa el formato 9 XX-XXX-XXX.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input *ngIf="participant.participantData" name="email" types="text" placeholder="9 00-000-000"
          [(ngModel)]="participant.participantData.phone">
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>


      </ion-item>



      <!-- <div class="sign-btn-wrap">
        <ion-button shape="round" fill="solid" class="sgn-btn">Siguiente</ion-button>
  
      </div> -->

    </ion-card-content>

  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goStreetAddress()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>