
.center {
    margin-top: 15px !important;
    display: block;
    margin: auto;
    width: 80%;
   }
 
h2{
   
    font-size: 18px;
    color:#636568;
    font-weight: bold;
   
}

h5{
    font-size: 15px;
    color:#74787E;
    margin-top: 18px !important;
    margin-left: 5px;
}

.div-h{
    display: flex;
    justify-content: center;
}






