<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
     Código QR
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goHome()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

  <ion-content padding>

    <ion-card>
    <div class="center">
      <ion-img src="assets/images/qr-code.png"></ion-img>
      </div> 

    </ion-card>

    <div>
      <div class="div-h">
      <h2>Nombre:</h2>
      <h5>{{participant.participantData.name}}</h5>
    </div>

    <div class="div-h">
      <h2>Rut:</h2> 
      <h5>{{participant.participantData.rut}}</h5>
    </div>
     
    </div>


      
</ion-content>

