<ion-list class="list">

  <ion-item>
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>
      <h5>¿Has tenido contacto estrecho con <br>
        una persona enferma de COVID-19 <br>
        durante los últimos 5 días?:</h5>
      <h2>No</h2>
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
    <ion-label>
      <h5>¿Has presentado algunos de estos <br>
        síntomas en los últimos 3 días?:</h5>
      <h2>Sin Sintomas</h2>
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-list>
