<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/personal/questions"></ion-back-button>
    </ion-buttons>
    <ion-title>
      1 de 2
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goQuestions()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        Previsión de Salud
      </ion-card-title>

      <ion-card-subtitle>
        Selecciona cuál es tu previsión de salud vigente.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-radio-group (ngModelChange)="onChange($event)" [(ngModel)]="participant.participantData.questions[0]">

        <ion-item>
          <ion-label>ISAPRE</ion-label>
          <ion-radio slot="start" value="Isapre"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>FONASA</ion-label>
          <ion-radio slot="start" value="Fonasa"></ion-radio>
        </ion-item>
    
        
      </ion-radio-group>
    </ion-list>
    



  </ion-card>

  
  <ion-fab *ngIf="participant.participantData.questions[0]!=''" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goQ2Q3()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
