        ion-col > div {
        background-color: #3880ff;
        border-radius: 5px;
        padding: 10px;
      }

     
.color{
    background-color: transparent;
}

.div-container-event{
    margin-top: 20px;
    margin-left: 9px;
    width: 95%;
    height: 30%;
}

.div-event{
    width: 100%;
    height: 100%;
    background-color: #3880ff;
}

.texts-divs{
    margin-top: 100px;
}










// ion-content{
//     --ion-background-color: transparent;
// }

// .bg-color{
//     background: #E1EAF9 ;
    
// }

// // ion-header{
// //     position: absolute;
// // }



// ion-card{
//     --ion-background-color:transparent;
//     box-shadow: none !important;
// }

//  ion-title{
//      margin-top:10px !important;
//      font-size:20px;
//      color: #53565A;
//      font-weight: 600;
//      text-align: center;
//  }

// ion-card-subtitle{
//     text-align: start;
//     padding-top: 10px !important;
//     font-size: 13px;
//     color: #888C91;
//     font-weight: 400;
//     text-transform: none;

// }
// h2{
//     font-size: 16px;
// }

// h5{
//     font-size: 13px;
// }


// ion-item{
//     padding-top: 5px;
//     margin-left: 10px;
//     color:#74787E;
//     --border-color: #D4D7DB; 
//     --highlight-color-focussed: #215AB7;
//     --padding-start: 0;
//     --inner-padding-end:0;
//     font-size: 13px;
//     ion-input{
//         color:#74787E;
//         font-size: 13px;
      
// }

// ion-input:hover{
//     color: #215AB7;
// }



// }

// .sign-btn-wrap{
//     text-align: center;
//     padding-top: 30px;
//     .sign-btn{
//         --ion-primary-color: #215AB7;
//         --background:#215AB7;
//         --background-activated: #F4F6FA;
//         --background-focused: #E1EAF9;
//         color: #F4F6FA;
//         border-radius: 25px;
      
//         background-color: #215AB7;
//     }
// }

