<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
  
    </ion-text>
    <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <div class="div-container-event">
      <ion-text class="texts-divs">Jai lorena</ion-text>
      <div class="div-event">
        <ion-item > 
          <ion-icon name="barbell-outline" slot="start"></ion-icon>
          <ion-label >
            <h2>Fussion Fit</h2>
            <h3>15:00</h3>
            <p >Las Rosas</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
   
    <div style="margin-top: 30px;">
    <ion-text  class="texts-divs">Jai, jaguaryu</ion-text>
    <ion-grid>
   
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label >
               
                <h2>Asistentes</h2>
                <h3>5555</h3>
                <ion-icon name="barbell-outline" slot="end"></ion-icon>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label >
                <h2>Confirmados</h2>
                <h3>5555</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label >
                <h2>Vacunados</h2>
                <h3>5555</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label >
                <h2>Testeo</h2>
                <h3>5555</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

    
    </ion-grid>
  </div>

</ion-content>


