<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Testeo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goHome()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

  <div>
    <ion-card>
      <ion-item [routerLink]="['/main/events/events-details']">
        <ion-icon name="calendar-outline" color="primary" slot="start"></ion-icon>
        <ion-label>
          <p>15/11/2021</p>
          <h2>Antígeno </h2>
          <h3>Pendiente por confirmación</h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>

      <ion-item>
        <ion-icon name="hourglass-outline" color="primary" slot="start"></ion-icon>
        <ion-label>
          <p>29/10/2021</p>
          <h2>PCR</h2>
          <h3>En espera de resultado</h3>
        </ion-label>
      </ion-item>

    </ion-card>

    <ion-card>

      <ion-item>
        <ion-icon name="person-remove-outline" color="success" slot="start"></ion-icon>
        <ion-label>
          <p>10/07/2021</p>
          <h2>Antígeno</h2>
          <h3>Negativo</h3>
        </ion-label>
      </ion-item>

    </ion-card>

    <ion-card>

      <ion-item>
        <ion-icon name="person-add-outline" color="danger" slot="start"></ion-icon>
        <ion-label>
          <p>19/06/2021</p>
          <h2>TAntígeno</h2>
          <h3>Positivo</h3>
        </ion-label>
      </ion-item>

    </ion-card>

    

    <ion-card>

      <ion-item>
        <ion-icon name="person-remove-outline" color="success" slot="start"></ion-icon>
        <ion-label>
          <p>07/05/2021</p>
          <h2>Antígeno</h2>
          <h3>Negativo</h3>
        </ion-label>
      </ion-item>

    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="person-remove-outline" color="success" slot="start"></ion-icon>
        <ion-label>
          <p>12/04/2021</p>
          <h2>Antígeno</h2>
          <h3>Negativo</h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="person-add-outline" color="danger" slot="start"></ion-icon>
        <ion-label>
          <p>02/03/2021</p>
          <h2>PCR</h2>
          <h3>Positivo</h3>
        </ion-label>
      </ion-item>
    </ion-card>




  </div>



  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goTypesOfTests()">
      <ion-icon style="color: white!important;" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>