
//  ion-header{
//     position: absolute;
//  }



ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}

// ion-title{
//     align-items: center;
//     margin-top:10px !important;
//     font-size:20px;
//     color: #53565A;
//     font-weight: 600;
//     text-align: start;
// }

ion-card-subtitle{
    text-align: start;
    padding-top: 10px !important;
    font-size: 13px;
    color: #888C91;
    font-weight: 400;
    text-transform: none;

}
.center {
    margin-top: 15px !important;
    display: block;
    margin: auto;
    width: 80%;
   }
 
h2{
    font-size: 20px;
    text-align: center;
    color:#636568;
    font-weight: bold;
}

h5{
    font-size: 15px;
    text-align: center;
    color:#74787E;
}


ion-item{
    padding-top: 5px;
    margin-left: 10px;
    color:#74787E;
   
    font-size: 13px;
  




}

.sign-btn-wrap{
    text-align: center;
    padding-top: 30px;
    .sign-btn{
        --ion-primary-color: #215AB7;
        --background:#215AB7;
        --background-activated: #F4F6FA;
        --background-focused: #E1EAF9;
        color: #F4F6FA;
        border-radius: 25px;
      
        background-color: #215AB7;
    }
}

