<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      0 de 10
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        Control Acceso
      </ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-radio-group value="biff">

        <div>
          <p>El llenado de este cuestionario es personal y es de responsabilidad exclusiva de la persona, trabajador o
            cualquier persona que ingrese al recinto</p>
          <p>Debe ser completado diariamente y es requisito para poder ingresar al recinto asignado. Recuerde que,
            acorde a las autoridades sanitarias, de tener síntomas relacionados a COVID-19 o de haber tenido contacto
            estrecho no debe salir de suresidencia.</p>
          <p>Los datos de este formulario son confidenciales y solo para uso médico.</p>

        </div>



      </ion-radio-group>
    </ion-list>




  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="question1">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>