<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
     Pase de Movilidad
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content padding>

    <ion-card>
    <div class="center">
      <ion-img src="assets/images/upload-photo.png"></ion-img>
      </div>  

      
    <div class="upload-pass">
      <ion-button fill="clear">Presione aquí para subir <br>su pase de movilidad</ion-button>
    </div>


    </ion-card>

    <ion-content  class="sign-btn-wrap">
      <ion-item>
        <input type="file"  />
      </ion-item>
      <ion-button (click)="goPersonalInformation()"  text="" shape="round" fill="solid" class="sgn-btn" style="margin-top: 20px;">Subir Pase</ion-button>
    </ion-content>
    
</ion-content>
