 ion-card{
     background-color: white;
     padding: 30px;
 }

.upload-pass{
    text-align:center;
    ion-button{
        font-size: 15px;
        color: rgb(109, 109, 109);
        font-weight: 700;
    }
}
.sign-btn-wrap{
    text-align: center;
    padding-top: 30px;
    .sign-btn{
        --ion-primary-color: #215AB7;
        --background:#215AB7;
        --background-activated: #F4F6FA;
        --background-focused: #E1EAF9;
        color: #F4F6FA;
        border-radius: 25px;
      
        background-color: #215AB7;
    }
}

