<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <img src="assets/images/test-covid.jpg">
      <ion-card-subtitle>Test COVID</ion-card-subtitle>
      <ion-card-title>Realiza tu test de Covid</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img src="assets/images/covid-mask.webp">
      <ion-card-subtitle>Uso de máscarilla</ion-card-subtitle>
      <ion-card-title>¿Por qué es importante usar mascarillas? </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La mascarilla es muy importante, porque nos permite evitar contagiar a otras personas a través 
      de los fluidos si estamos con un proceso respiratorio y si somos sanos evita que, de haber partículas 
      en el aire ingresen al organismo.
    </ion-card-content>
  </ion-card>

</ion-content>
