<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
     
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goHome()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">Perfil</ion-segment-button>
      <ion-segment-button value="question">Cuestionario</ion-segment-button>
      <ion-segment-button value="favorites">Covid-19</ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-card>

  <ion-list class="list">

    <ion-item>
      <ion-icon name="star-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>Previsión de salud:</h5>
        <h2>Isapre</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="star-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>¿A cuál estás afiliado?:</h5>
        <h2>Colmena</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    
    
    <ion-item>
      <ion-icon name="text-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>¿Cuál es la letra de tu tramo?:</h5>
        <h2>A</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>¿Te has vacunado contra el COVID-19?:</h5>
        <h2>Si, solo la primera dosis</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="shield-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>¿Que vacuna?</h5>
        <h2>Pfizer</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>



  </ion-list>
</ion-card>


</ion-content>
