<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
     
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">Perfil</ion-segment-button>
      <ion-segment-button value="question">Cuestionario</ion-segment-button>
      <ion-segment-button value="favorites">Covid-19</ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-card>

  <ion-list class="list">

    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>¿Has tenido contacto estrecho con <br>
          una persona enferma de COVID-19 <br>
          durante los últimos 5 días?:</h5>
        <h2>No</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h5>¿Has presentado algunos de estos <br>
          síntomas en los últimos 3 días?:</h5>
        <h2>Sin Sintomas</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    
    
   


  </ion-list>
</ion-card>


</ion-content>
