ion-content{
    --background:  url("../../../assets/images/ad-restaurant-1.jpg") no-repeat fixed center;
}

.medi-abs-bttm {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: 35px;
    width: 100%;
    text-align: center;
    
}
.bg-color{
    background: #E1EAF9 ;
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color:transparent;
    --opacity: 0;
}

// ion-card{
//     --ion-background-color:transparent;
//     box-shadow: none !important;
// }

.buttons{
    text-align: center;
}
ion-card-title{
    // margin-top:50px !important;
    font-size:25px;
    color: #53565A;
    font-weight: 600;
    text-align: center;
}

ion-card-subtitle{
    text-align: center;
    // padding-top: 15px !important;
    font-size: 13px;
    color: #888C91;
    font-weight: 400;
    text-transform: none;
    // padding: 0 30px;
}

// ion-card-content{
//     padding-top: 30px;   
// }

ion-item{
    padding-top: 20px;
    color:#74787E;
    --border-color: #D4D7DB; 
    --highlight-color-focussed: #215AB7;
    --padding-start: 0;
    --inner-padding-end:0;
    font-size: 13px;
    ion-input{
        color:#74787E;
        font-size: 13px;
        ion-icon{
            padding-right: 12px;
            font-size: 18px;
    }
}

ion-input:hover{
    color: #215AB7;
}

}


