

ion-header{
    position: absolute;
}

h2{
    font-size: 16px;
}

h5{
    font-size: 13px;
}



ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}

ion-card-title{
    margin-top:50px !important;
    font-size:25px;
    color: #53565A;
    font-weight: 600;
    text-align: start;
}

ion-card-subtitle{
    text-align: start;
    padding-top: 5px !important;
    font-size: 13px;
    color: #888C91;
    font-weight: 400;
    text-transform: none;

}

ion-item{
    padding-top: 10px;
    color:#74787E;
    --border-color: #D4D7DB; 
    --highlight-color-focussed: #215AB7;
    --padding-start: 0;
    --inner-padding-end:0;
    font-size: 13px;
    ion-input{
        color:#74787E;
        font-size: 13px;
        ion-icon{
            padding-right: 12px;
            font-size: 18px;
    }
}

ion-input:hover{
    color: #215AB7;
}



}

.sign-btn-wrap{
    text-align: center;
    padding-top: 30px;
    .sign-btn{
        --ion-primary-color: #215AB7;
        --background:#215AB7;
        --background-activated: #F4F6FA;
        --background-focused: #E1EAF9;
        color: #F4F6FA;
        border-radius: 25px;
      
        background-color: #215AB7;
    }
}

