<ion-header [translucent]="true" style="position:unset;">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onClickCLose()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="currentDataTab">
    <ion-segment-button value="profile" (click)="goTab('profile')">Perfil</ion-segment-button>
    <ion-segment-button value="health" (click)="goTab('questions')">Salud</ion-segment-button>
    <ion-segment-button value="covid" (click)="goTab('covid')">Covid-19</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="bg-color">
  <ion-card style="margin-left:20px;height: calc(100% - 20px);">

    <ion-router-outlet></ion-router-outlet>
    
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="saveParticipant()">
    <ion-fab-button>
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>