
<ion-header>

</ion-header>


<ion-content class="ion-padding ion-text-center" color="">
  <img src="../assets/images/logo-medicel.png" class="logo">

  <div class="title">
    <h2>Bienvenido</h2>
    <p>Enjoy the Code Crafts App</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top" fill="outline" color="">SING UP</ion-button>
    <ion-button expand="block" class="ion-margin-top" (click)="login()" color="secondary">LOGIN</ion-button>
  </div>
</ion-content>
