<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      2 de 5
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goHome()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        ¿A cuál estás afiliado?
      </ion-card-title>

      <ion-card-subtitle>
        Lorem ipsum dolor sit amet, consectetur adipiscing.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-radio-group value="biff">

        <ion-item>
          <ion-label>Colmena</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Banmedica</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Cruz Blanca</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>Vida 3</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Consalud</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Más Vida</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Otro</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>


      </ion-radio-group>
    </ion-list>
    



  </ion-card>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goSanform3()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
