<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/personal/covid"></ion-back-button>

    </ion-buttons>
    <ion-title>
      1 de 3
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickCLose()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        ¿Has tenido contacto estrecho con una persona enferma de COVID-19 durante los últimos 5 días?
      </ion-card-title>

      <ion-card-subtitle>
        Por favor selecciones una opción.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-radio-group [(ngModel)]="participant.participantData.covid[0]">

        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" value="Si"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="No"></ion-radio>
        </ion-item>
    

      </ion-radio-group>
    </ion-list>
    



  </ion-card>

  
  <ion-fab *ngIf= "participant.participantData.covid[0]!=''" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goCovid2()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
