<ion-content padding class="background">
  <ion-card class="ion-no-margin" style="border-radius: 0;">
    <ion-img src="/assets/images/header01.jpg"></ion-img>
    <ion-card-content>
      <div class="wrapform">
        <ion-item>

          <ion-input type="text" name="userEmail" placeholder="Email" [(ngModel)]="userEmail" required>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password " name="userPass" placeholder="********" [(ngModel)]="userPass" required>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-input>
        </ion-item>
      </div>
      <div class="password_forgot">
        <ion-button href="forgotpassword" fill="clear" class="ion-no-padding">¿Olvidaste tu contraseña?</ion-button>
      </div>

      <div class="sign-btn-wrap" style="display: flex; justify-content: center;">
        <div (click)="onCLickEnter()" style="background-color: chocolate;
        border-radius: 21px;
        width: min-content;
        padding: 7px 35px;
        cursor: pointer;
        color: whitesmoke;
        font-weight: 600;">Entrar</div>
        <!-- <ion-button (click)="onCLickEnter()" text="" shape="round" fill="solid" class="sgn-btn">Entrar</ion-button> -->
      </div>

      <div class="text-tag">
        <span>Puedes entrar usando tus redes sociales</span>

      </div>

      <div class="social-btns">
        <ion-button fill="clear" class="loginbtn ion-no-padding">
          <ion-img src="assets/images/facebook.svg"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="loginbtn ion-no-padding">
          <ion-img src="assets/images/google.svg"></ion-img>
        </ion-button>
      </div>

    </ion-card-content>

  </ion-card>


  <div class="ion-card-footer">
    <span>¿No tienes cuenta?</span><button class="ion-no-padding">Registrate</button>
  </div>

</ion-content>