.medicel-home-header {
    padding        : 20px 20px;
    display        : flex;
    justify-content: space-between;

    ion-img {
        width: 30%;
    }

    .medicel-home-user {
        line-height: 2px;
        text-align : right;
        color      : gray;

        .medicel-home-welcome {
            font-size  : 0.8em;
            font-weight: 600;
        }
    }
}

.list-menu {
    ion-card {
        //background-color: chocolate;
    }
}

#header {
    min-height         : 120px;
    background-image   : url(/assets/images/header01.jpg);
    background-size    : cover;
    background-position: center;
}

swiper {
    margin-left: 10px !important;

    ion-card {
        border-radius: 10px;
        width        : 90%;
        padding      : 10px;

        img {
            border-radius: 10px;
            margin-bottom: 5px;
        }

        p {
            font-size    : 0.9em;
            font-weight  : 500;
            color        : var(--ion-color-primary);
            width        : 130px;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;

            ion-icon {
                color       : gray;
                font-size   : 1.3em;
                margin-right: 5px;
            }
        }

        ion-buttons ion-button {
            font-size: 0.9em !important;
        }
    }
}

.cleanCard {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    margin          : 0 3% 21px 3%;
    border-radius   : 8px;
    height          : 80px;
    cursor          : pointer;
    color           : whitesmoke;
}