<ion-content [fullscreen]="false">

  <div id="header">

  </div>



  <swiper #swiper [config]="config" style="margin: 7px 0; margin-right: 10px;">
    <ng-template swiperSlide>
      <ion-card style="display: flex; flex-direction: column; align-items: center;" (click)="goProfile()">
        <h3 style="color: chocolate; font-weight: 600;">Datos</h3>
        <div style="color: #707070; margin-bottom: 14px;">Desactualizado</div>
        <ion-icon name="add-circle-outline" style="font-size: 35px; color: #70707084; transform: rotate(45deg);">
        </ion-icon>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card style="display: flex; flex-direction: column; align-items: center;" (click)="goCovid()">
        <h3 style="color: chocolate; font-weight: 600">Tests</h3>
        <div style="color: #707070; margin-bottom: 14px;">Actualizado</div>
        <ion-icon name="checkmark-circle-outline" style="font-size: 35px; color: #70707084;"></ion-icon>
      </ion-card>
    </ng-template>

  </swiper>
  

  <ion-button class="cleanCard" color="primary" (click)="goProfile()">
    <ion-icon name="person-outline" style="margin: 0 ; font-size: 28px;"></ion-icon>
    <span style="flex: 3;text-align: initial;padding-left: 20px;">
      <div style="margin-bottom: 7px; font-weight: 600;text-transform: none;font-size: 18px;">Mis datos</div>
      <div style="font-size: 14px;;text-transform: none;opacity: 0.7;">Datos personales, formualarios...</div>
    </span>
    <ion-icon name="arrow-forward-outline" style="font-size: 21px;"></ion-icon>
  </ion-button>

  <ion-button class="cleanCard" color="primary" (click)="goTesting()">
    <ion-icon name="medkit-outline" style="margin: 0 ; font-size: 28px;"></ion-icon>
    <span style="flex: 3;text-align: initial;padding-left: 20px;">
      <div style="margin-bottom: 7px; font-weight: 600;text-transform: none;font-size: 18px;">Testeo</div>
      <div style="font-size: 14px;;text-transform: none;opacity: 0.7;">Ver resultados, agendamientos...</div>
    </span>
    <ion-icon name="arrow-forward-outline" style="font-size: 21px;"></ion-icon>
  </ion-button>

  <ion-button class="cleanCard" color="primary" (click)="goCode()">
    <ion-icon name="qr-code-outline" style="margin: 0 ; font-size: 28px;"></ion-icon>
    <span style="flex: 3;text-align: initial;padding-left: 20px;">
      <div style="margin-bottom: 7px; font-weight: 600;text-transform: none;font-size: 18px;">Código</div>
      <div style="font-size: 14px;;text-transform: none;opacity: 0.7;">Mostrar pase de movilidad</div>
    </span>
    <ion-icon name="arrow-forward-outline" style="font-size: 21px;"></ion-icon>
  </ion-button>

  <ion-button class="cleanCard" color="primary">
    <ion-icon name="logo-whatsapp" style="margin: 0 ; font-size: 28px;"></ion-icon>
    <span style="flex: 3;text-align: initial;padding-left: 20px;">
      <div style="margin-bottom: 7px; font-weight: 600;text-transform: none;font-size: 18px;">Llámanos</div>
      <div style="font-size: 14px;;text-transform: none;opacity: 0.7;">Contáctanos via whatsapp</div>
    </span>
    <ion-icon name="arrow-forward-outline" style="font-size: 21px;"></ion-icon>
  </ion-button>

<!-- 
  <div class="list-menu">
    <ion-card>
      <ion-item>
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Mis datos </h2>
          <h3>Lorem impsum dolor...</h3>
        </ion-label>
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>

      <ion-item>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Testeo</h2>
          <h3>Lorem impsum dolor...</h3>
        </ion-label>
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-item>

    </ion-card>

    <ion-card>

      <ion-item>
        <ion-icon name="qr-code-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Código</h2>
          <h3>Lorem impsum dolor...</h3>
        </ion-label>
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-item>

    </ion-card>

    <ion-card>

      <ion-item>
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>
          <h2>Asistencia</h2>
          <h3>Lorem impsum dolor...</h3>
        </ion-label>
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-item>

    </ion-card>

  </div> -->




</ion-content>