<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="medicel-home-header" >
      <ion-img src="assets/images/world.jpg" ></ion-img>
    </div>

  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div>
    <img src="assets/images/world.jpg" style="border-radius:0px 0px 35px 35px !important;" >
  </div>
  <div >
    <ion-title>Conferencia Ambiental</ion-title>
  </div>

  <div class="event-name" >
    <div class="div-date">
      <p>JUL <br> 10</p></div>
    <div>
      <p>Martes</p>
      <p>10:00 | 12:00PM</p>
    </div>
    <div>
     <button>Asistir</button>
    </div>
  </div>

  <div class="about">
    <ion-title>Sobre</ion-title>
    <p>Las conferencias ambientales reúnen a
      líderes de diferentes países para discutir y...</p>
    <p class="button-read">Leer mas...</p>
  </div>


  <div class="organizer">
    <div class="div-organized-logo">
      <p style="
      place-self: center ">RV</p>
    </div>
    <div>
      <p>Radio Virtual</p>
      <p>Organizador</p>
    </div>
    <div>
     <button>Seguir</button>
    </div>
  </div>

  <div id="maps">

    <ion-img src="assets/images/maps.jpg"></ion-img> 
  </div>

  <div class="widgets">

    <div class="div-red">
      <p>Capacidad</p>
      <p class="p-red">250</p>
    </div>
    <div class="div-blue">
      <p>Inscritos</p>
      <p class="p-blue">10</p>
    </div>
    <div class="div-green">
      <p>Vacunados</p>
      <p class="p-green">100%</p>
    </div>

  </div>
</ion-content>
