<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Confirmar Testeo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goHome()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style= "max-height: 241px; overflow: hidden;">
    <img src="assets/images/maps.jpg" style="border-radius:0px 0px 35px 35px !important;" >
  </div>
  <div class="about" style="margin-top: 20px;">
    <ion-title>Clínica Medicel</ion-title>
    <p >Luis Carrera 1289, OF 301 Vitacura</p>
    <p ><b>Tipo de Test</b>: Antígeno</p>
  </div>

  <div class="event-name" >
    <div class="div-date">
      <p>NOV <br> 11</p></div>
    <div>
      <p>Martes</p>
      <p>10:00 | 12:00PM</p>
    </div>
    <div>
     <ion-button color="primary" (click)="goHome()">Confirmar</ion-button>
     
    </div>
  </div>

  <div class="about">
    <ion-title>No podré asistir</ion-title>
    <p>Si no puede asistir, explique el motivo y presione el botón "No Asistiré":</p>
    <ion-item>
      <ion-textarea></ion-textarea>
    </ion-item>
  </div>


  <div class="organizer">

    <div>
      &nbsp;
    </div>
    <div>
      <ion-button color="primary" (click)="goHome()">No Asistiré</ion-button>
    </div>
  </div>


</ion-content>
